.box1 {
  width: 300px;  /*横幅*/
  height: 300px; /*高さ*/
  background-color: pink;  /*背景色*/
  margin: 30px;  /*外側余白*/
  padding: 30px;  /*内側余白*/
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid yellow;  /*枠線：solid(実線）*/
}